<div class="container">
  <p style="font-weight:bold;"> Q. {{question.title}} </p>
  <div *ngIf="question.code">
    <pre> 
      <code [innerHTML]="question.code"></code>
    </pre>
  </div>

  <ng-container *ngIf="question.options" else #onlyAnswer>
    <ul *ngFor="let item of question.options.split(',')">
      <li> {{item}} </li>
    </ul>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Answer
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p> <u>Ans</u> - {{question.answer}} </p>
        <div *ngIf="question.explanation">
          <p> <u>Explanation</u> - {{question.explanation}} </p>
        </div>
       
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <ng-template #onlyAnswer>
    <p> <u>Ans</u> - {{question.answer}} </p>
  </ng-template>

</div>
