.question-content {
    border-radius: 10px;
    margin: 20px;
    margin-left: 32px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: left;
    // align-items: center; 
    font-size: 1rem;
  }