<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  <button [routerLink]="'/'" mat-button>
    <span>Interview Questions</span>
</button>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button [routerLink]="'/csharp'" mat-button class="menu-button">
        <span>C#</span>
    </button>
    <button [routerLink]="'/dotnetcore'" mat-button class="menu-button">
        <span>.Net Core</span>
    </button>
    <button [routerLink]="'/codingmcq'" mat-button class="menu-button">
      <span>Coding Mcq</span>
    </button>
    <button [routerLink]="'/angular'" mat-button class="menu-button">
        <span>Angular</span>
    </button>
    <button [routerLink]="'/general'" mat-button class="menu-button">
      <span>General</span>
  </button>
</mat-sidenav>
  <mat-sidenav-content>
      <div class="mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
