<h2 style="text-align: center;">C#, .Net Core and Angular Interview Questions</h2>
<div class="question-content">
  <p>
    <li>Welcome to this short interview questions app! </li>
    <li>This is a compilation of all the interview questions which can be helpful to prepare during an .Net Core, 
      Angular and C# interview. </li>
    <li>Credit to the respective authors!</li>
    
    <ng-container>
      <div style="margin-top: 40px;">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                References
              </mat-panel-title>
              <mat-panel-description>
                Links to all the references
              </mat-panel-description>
            </mat-expansion-panel-header>
            <li>Link1</li>
            <li>Link1</li>
            <li>Link1</li>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
    
  </p>
  <br>
  

</div> 
