<h2 style="text-align: center;">C#, .Net Core and Angular Interview Questions</h2>
<div class="question-content">
  <p>
    <li>Welcome to this short interview questions app! </li>
    <li>This is a compilation of all the <strong>intermediate level</strong> interview questions which can be helpful to prepare during an .Net Core, 
      Angular and C# interview. </li>
    <li>Credit to the respective authors!</li>
    
    <ng-container>
      <div style="margin-top: 40px;">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                References
              </mat-panel-title>
              <mat-panel-description>
                Links to all the references
              </mat-panel-description>
            </mat-expansion-panel-header>

            <span><u>C#</u></span>
            <li><a href="https://www.mygreatlearning.com/blog/c-sharp-interview-questions/#5">C# Interview Questions and Answers in 2023 by Raman</a></li>
            <li><a href="https://dotnetpattern.com/csharp-oops-interview-questions-top-10">Top 10 C# / .NET OOPS Interview Questions and Answers</a></li>
            <li><a href="https://talentgrid.io/c-sharp-interview-questions/">Top Advanced C# Interview Questions and Answers</a></li>
            <li><a href="https://www.techbeamers.com/csharp-oops-interview-questions-answers/">20 C# Programming Questions on Object Oriented Concepts</a></li>
            <li><a href="https://ankitsharmablogs.com/csharp-coding-questions-for-technical-interviews/amp/">C# Coding Questions For Technical Interviews</a></li>
            <li><a href="https://code-maze.com/csharp-selection-sort/">Selection Sort in C# - Code Maze</a></li>
            
            <br>
            <span><u>.Net Core</u></span>
            <li><a href="https://www.toptal.com/dot-net/interview-questions">17 Essential .NET Interview Questions - Toptal</a></li>
            <li><a href="https://levelup.gitconnected.com/7-tricky-questions-to-ask-net-developer-in-a-job-interview-9cdb3789db54">
              7 Tricky Questions to Ask .NET Developer in a Job Interview</a></li>
            <li><a href="https://www.hackertrail.com/talent/backend/net-core-interview-questions-answers/">.NET Core Interview Questions and Answers 2023</a></li>
            <li><a href="https://habr.com/en/articles/498470/">C# and .NET tricky questions by asommer</a></li>
            
            <br>
            <span><u>Angular</u></span>
            <li><a href="https://plainenglish.io/blog/advanced-angular-interview-questions-you-must-prepare-for-in-2022-f79545eaa46d">
              Advanced Angular Interview Questions You Must Prepare For in 2022 - Ajit Patel</a></li>
            <li><a href="https://www.decodedfrontend.io/top-5-angular-interview-questions-for-advanced-developers/">
              Top 5 Angular Interview Questions For Advanced Developers</a></li>
            <li><a href="https://itnext.io/prepare-your-angular-interview-with-this-quick-and-complete-outline-1e9b5d761166">
              Prepare your Angular interview with questions including TS, ngRx and RxJS - Adrien Miquel</a></li>
           
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>
    
  </p>
  <br>
  

</div> 
